.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:hover {
        transform: scale(1.05);
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    &:hover {
        background-color: darkgrey;
    }
}